/.vs/DesignPattern/v17/.wsuo
/.vs/DesignPattern/FileContentIndex/4e8e3959-e137-46d2-99ad-a1a46cc7e6e3.vsidx
/.vs/DesignPattern/ColorByRegexConfig.txt
/.vs/DesignPattern/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
